<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="Properties.Settings.Defaulttings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JqpdInit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JqpdInit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <Properties.Settings.Defaulttings>
        <JqpdInit.Properties.Settings>
            <setting name="savedLineNum" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="savedMachineNum" serializeAs="String">
                <value>999</value>
            </setting>
        </JqpdInit.Properties.Settings>
    </Properties.Settings.Defaulttings>
    <userSettings>
        <JqpdInit.Properties.Settings>
            <setting name="savedLineNum" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="savedMachineNum" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="savedStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedCurrent" serializeAs="String">
                <value>0</value>
            </setting>
        </JqpdInit.Properties.Settings>
    </userSettings>
</configuration>
